{% extends "layout.html.twig" %}

 {% block content %}
 
{# <h1>{{ app.request.get('_route') }}</h1>
    <p> {{ id }} : {{ slug }} </p>
    <p> Mon IP : {{ ip }} </p> #}

    <div class="row">
        <div class="col-md-3">
            <p class="lead">Nos marques</p>
           	{{ render(controller(
				"App\\Controller\\StoreController::listBrandscontact", {'brand': brandId},
			)) }}
        </div>

        <div class="col-md-9">
            <p class="lead">
                Fiche descriptive " Mon produit "
                <a href="/store/product-list" class="btn btn-default pull-right">Retour aux produits</a>
            </p>
            
            <div class="row">
            {% for product in products %}
                {% if product.id == id %}
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ asset('' ~ product.image.url ~ '') }}" alt="{ product.image.alt }" style="border-radius:15px;">
                    <div class="caption-full">
                        <h4 class="pull-right"><span class="badge">{{ product.price }}€</span></h4>
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}.</p>
                        <p>
                            Le produit est de la couleur suivante : 
                            {% for color in product.colors %}
                                {{ color.name ~(not loop.last ? ', ') }}
                            {% endfor %}
                        </p>
                        <p>
                            Une description longue du produit sera affichée à cet endroit : <br>
                            {{ product.bigDescription }}
                        </p>
                    </div>
                </div>	
                {% endif %}

            {% endfor %}
                <div class="well">
                    <p class="pull-right label label-success">Actuellement 3 avis</p>

                    {% for comment in comments %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-info">{{comment.pseudo}}</span>
                            <span class="label label-default pull-right">{{comment.createdAt|date('Y-m-d')}}</span>
                            <p>{{comment.message}}</p>
                        </div>
                    </div>

                    <hr/>
                    {% endfor %}
                    <div>                       
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_errors(form.pseudo) }}
                                {{ form_label(form.pseudo) }}
                                {{ form_widget(form.pseudo, {'attr': {'class': 'form-control', 'placeholder':form.pseudo.vars.label} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.message) }}
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder':form.message.vars.label} }) }}
                            </div>
                            <button type="submit" class="btn btn-info"> Envoyer mon message </button>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>


   

{% endblock %}