{% extends "layout.html.twig" %}

 {% block content %}
 
{# <h1>{{ app.request.get('_route') }}</h1>
    <p> {{ id }} : {{ slug }} </p>
    <p> Mon IP : {{ ip }} </p> #}


    <div class="row">
        <div class="col-md-3">
            <p class="lead">Nos marques</p>
           	{{ render(controller(
				"App\\Controller\\StoreController::listBrandscontact", {'brand': brandId},
			)) }}
        </div>

        <div class="col-md-9">
            <p class="lead">
                Fiche descriptive " Mon produit "
                <a href="/store/product-list" class="btn btn-default pull-right">Retour aux produits</a>
            </p>
            
            <div class="row">
            {% for product in products %}
                {% if product.id == id %}
                <div class="thumbnail">
                    {# <img class="img-responsive" src="{{ asset('img/products/shoe-' ~ id ~ '.png') }}" alt="" style="border-radius:15px;"> #}
                    <img class="img-responsive" src="{{ asset('' ~ product.image.url ~ '') }}" alt="{ product.image.alt }" style="border-radius:15px;">
                    <div class="caption-full">
                        <h4 class="pull-right"><span class="badge">{{ product.price }}€</span></h4>
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}.</p>
                        <p>
                            Le produit est de la couleur suivante : 
                            {# {{ product.colors.color_id }} #}
                            {% for color in product.colors %}
                                {{ color.name ~(not loop.last ? ', ') }}
                            {% endfor %}
                        </p>
                        <p>
                            Une description longue du produit sera affichée à cet endroit : <br>
                            {{ product.bigDescription }}
                        </p>
                    </div>
                </div>	
                {# {% elseif product.id != id %}
                <div class="thumbnail">
                    <h2> Erreur 404 </h2>
                </div> #}
                {% endif %}

            {% endfor %}
                <div class="well">
                    <p class="pull-right label label-success">Actuellement 3 avis</p>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-info">Prénom Nom</span>
                            <span class="label label-default pull-right">28/01/2015</span>
                            <p>Un commentaire sur le produit, rédigé par un client, sera affiché à cet endroit.</p>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-info">Prénom Nom</span>
                            <span class="label label-default pull-right">28/01/2015</span>
                            <p>Un commentaire sur le produit, rédigé par un client, sera affiché à cet endroit.</p>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="label label-info">Prénom Nom</span>
                            <span class="label label-default pull-right">28/01/2015</span>
                            <p>Un commentaire sur le produit, rédigé par un client, sera affiché à cet endroit.</p>
                        </div>
                    </div>

                    <hr/>

                    <div>
                        <form>
                            <div class="form-group">
                                <label for="name">Votre nom</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="message">Votre avis</label>
                                <textarea class="form-control" name="comment" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">Envoyer mon avis</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>


   

{% endblock %}